@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 253, 244);
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color:#a8dadc
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8dadc !important
}

html::-webkit-scrollbar{
    display:none
}
html{
    scrollbar-width:none
}

/*chat css

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        border: 1px  solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
    }
}
*/
